#logo
{
    font-size: 18px
}
#avathar
{
    width: 20%;
}
#avathar
{
    align-items: center;
}
#para{
    font-size: 15px
}
#gradient{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left, #ffffff,#1a6d00);
}
